@model ProyectoFinal_Cartagena_Zumarraga.Models.Cultura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cultura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AsuntoCul" class="control-label"></label>
                <input asp-for="AsuntoCul" class="form-control" />
                <span asp-validation-for="AsuntoCul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuerpoCul" class="control-label"></label>
                <input asp-for="CuerpoCul" class="form-control" />
                <span asp-validation-for="CuerpoCul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCul" class="control-label"></label>
                <input asp-for="FechaCul" class="form-control" />
                <span asp-validation-for="FechaCul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
