@{
    ViewData["Title"] = "Home Page";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

        .grid-container section {
            width: 100%;
        }
</style>

<div class="grid-container">
    <div>
        <section>
            <h1>Tecnología</h1>
            <p>¿Supiste que del surgimiento de GPT-4?</p>
            <a href="https://localhost:7197/Tecnologias">
                <img src="tecnologia.jpg" alt="Imagen de tecnología" width="500" height="333">
                <br>
                ¡Haz clic aquí!
            </a>
        </section>
    </div>
    <div>
        <section>
            <h1>Deportes</h1>
            <p>¿Sabrás quién ganó el mundial?</p>
            <a href="https://localhost:7197/Deportes">
                <img src="deporte.jpg" alt="Imagen de deporte" width="500" height="333">
                <br>
                ¡Haz clic aquí!
            </a>
        </section>
    </div>
    <div>
        <section>
            <h1>Arte</h1>
            <p>¿Ya visitaste la exposición de Van Gogh? ¡Ya mismo se van!</p>
            <a href="https://localhost:7197/Artes">
                <img src="arte.jpg" alt="Imagen de arte" width="500" height="333">
                <br>
                ¡Haz clic aquí!
            </a>
        </section>
    </div>
    <div>
        <section>
            <h1>Cultura</h1>
            <p>¿Sabías que a los Quitus les gustaba nadar en sus propias piscinas?</p>
            <a href="https://localhost:7197/Culturas">
                <img src="cultura.jpg" alt="Imagen de cultura" width="500" height="333">
                <br>
                ¡Haz clic aquí!
            </a>
        </section>
    </div>
</div>

